header {
    height: 110px;
}
.small-title {
    font-size: 18px;
    font-weight: lighter;
}

#services p {
    font-size: 18px;
    color: #fff;
}

.block-service .content {
    bottom: 120px;
}

header .logo img {
    width: 90px;
}

header .logo {
    text-align: center;
    line-height: 0.1em;
}

.hero-fixed {
    position: absolute;
}

/* deep changes */
.hero-fixed {
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    margin-top: 30px;
}

.home-text {
    color: #fff;
}

.centered-block {
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

.text-big {
    font-size: 20px;
}

.testimony p {
    text-align: left;
    /*color: #333;*/
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    line-height: 3rem;
}

.testimony .name {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

.paragraph {
     margin-bottom: 40px;
    color: #fff;
}

.centered-block .title.big {
    line-height: 3rem;
}

.centered-block .big span {
    font-size: 20px;
    line-height: 2rem;
    color: #1acd68;
}

.out {
    background-color: transparent;
}

.page-home .reflection {
    
    background-image: url(img/servicebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-home .method {
    
    background-image: url(img/methodbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrap-image.text-right img {
    visibility: hidden;
}

.white-letters {
    color: #fff;
}

.page-home #services, section>section.bg-dark:before {
    background-image: url(img/whawedobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .city {
    margin-bottom: 0px;
}

footer .city .white {
    color: #fff;
}

@media (max-width: 480px) {
    .home-text {
        color: #333;
    }
    
    .centered-block .big span {
        font-size: 20px;
        line-height: 2rem;
    }
    
    .testimony p {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
     .center .valign:nth-child(1) {
        margin-top: 50px;
    }
    
    .page-home:before {
        background-image: url(img/bg2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* treasure page */

#img1 {
    background-color: #333;
}

#img2 {
    background-color: #fff;
}

#img3 {
    background-color: #333;
}